@tailwind base;
@tailwind components;
@tailwind utilities;

my-icon.icon {
	@apply relative inline-block;
	color: #747bff;
	font-size: inherit;
	line-height: inherit;
	top: 0.125em;

	&.icon-inline-left {
		padding-right: 0.5ex;
	}

	&.icon-inline-right {
		padding-left: 0.5ex;
	}
}

a.link {
	display: inline-block;
	@apply text-xl;
	text-decoration: none;
	background-image: linear-gradient(180deg, transparent 94%, #747bff 0);
	background-size: 0px 93%;
	background-repeat: no-repeat;
	transition: all 400ms ease 0s;

	&:hover,
	&:focus {
		color: inherit;
		background-size: 100% 93%;
	}
}

#app {
	@apply font-sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;

	h1 {
		@apply font-bold underline;
	}

	a {
		@extend .link;
	}

	img {
		display: block;
		width: clamp(30vw, 50vw, 400px);
		height: auto;
		margin: 25px auto;
	}
}
